tmp-dictionary
*_script_commands
experiments/simul_study/exp_log*/*.log
experiments/simul_study/exp_log*/dictionary
experiments/simul_study/exp_log*/graphs
experiments/scikit_feature/exp_log*/graphs
experiments/scikit_feature/exp_log*/dictionary
experiments/scikit_feature/exp_log*/*.log
*/__pycache__/
.ipynb_checkpoints/
experiments/DryBean/exp_log[01234]/*.log
experiments/DryBean/exp_log[01234]/dictionary
experiments/DryBean/exp_log[01234]/graphs
experiments/MNIST/exp_log[01234]/dictionary
experiments/MNIST/exp_log[01234]/graphs
experiments/MNIST/exp_log[01234]/*.log
experiments/simul_study/exp_log[01234]/RS/RS0/state_dict
experiments/simul_study/exp_log[01234]/RS/RS1/state_dict
experiments/simul_study/exp_log[01234]/RS/RS2/state_dict
experiments/simul_study/exp_log[01234]/RS/RS3/state_dict
experiments/simul_study/exp_log[01234]/RS/RS4/state_dict
experiments/MNIST/exp_log[01234]/RS/RS0/state_dict
experiments/MNIST/exp_log[01234]/RS/RS1/state_dict
experiments/MNIST/exp_log[01234]/RS/RS2/state_dict
experiments/MNIST/exp_log[01234]/RS/RS3/state_dict
experiments/MNIST/exp_log[01234]/RS/RS4/state_dict
experiments/DryBean/exp_log[01234]/RS/RS0/state_dict
experiments/DryBean/exp_log[01234]/RS/RS1/state_dict
experiments/DryBean/exp_log[01234]/RS/RS2/state_dict
experiments/DryBean/exp_log[01234]/RS/RS3/state_dict
experiments/DryBean/exp_log[01234]/RS/RS4/state_dict
experiments/scikit_feature/exp_log[01234]/RS/RS0/state_dict
experiments/scikit_feature/exp_log[01234]/RS/RS1/state_dict
experiments/scikit_feature/exp_log[01234]/RS/RS2/state_dict
experiments/scikit_feature/exp_log[01234]/RS/RS3/state_dict
experiments/scikit_feature/exp_log[01234]/RS/RS4/state_dict
FruitFlies/*
scikit_feature/skfeature/function/__pycache__/*
scikit_feature/skfeature/function/similarity_based/__pycache__/*
scikit_feature/skfeature/function/statistical_based/__pycache__/*
scikit_feature/skfeature/utility/__pycache__/*
ts/ElectricDevices/*
ts/StarLightCurves/*
experiments/OccupancyDetection/exp_log[01234]/dictionary
experiments/OccupancyDetection/exp_log[01234]/log[01234].log
experiments/unisimul_study/exp_log[01234]/dictionary
experiments/unisimul_study/exp_log[01234]/log[01234].log
experiments/multisimul_study/exp_log[01234]/log[01234].log
experiments/multisimul_study/exp_log[01234]/dictionary
experiments/HHAR/exp_log[01234]/phone/original-minmax/DF/dictionary/intermdiate_dicts-dictionary/
experiments/HHAR/exp_log[01234]/phone/original-minmax/Weight/dictionary/intermdiate_dicts-dictionary/
experiments/HHAR/exp_log[01234]/phone/original-minmax/NFS/dictionary/intermdiate_dicts-dictionary/
experiments/HHAR/exp_log[01234]/phone/original-minmax/Grad/dictionary/intermdiate_dicts-dictionary/
experiments/HHAR/exp_log[01234]/log[01234].log
